COMPOSE_PROJECT_NAME=patosgym_prod
DEBUG=0
SECRET_KEY=CHANGE-THIS-TO-RANDOM-50-CHARS-SECRET-KEY
ALLOWED_HOSTS=localhost,patosgym.com.ar,www.patosgym.com.ar
CSRF_TRUSTED_ORIGINS=https://patosgym.com.ar,https://www.patosgym.com.ar
DATABASE_URL=postgres://patosgym_user:CHANGE_DB_PASSWORD@db:5432/patosgym_db
